.DS_Store
.idea
.vscode
*.vcd
runs
src/sim_build
src/__pycache__/
src/results.xml

# Due to the multiple directory native I need to setup for OpenLANE
#   tcl ::env(VERILOG_INCLUDE_DIRS)
#src/user_config.tcl

*~
